$page-max-width: 83rem;

$xs-width: 500px;
$small-width: 640px;
$medium-width: 768px;
$large-width: 1024px;
$xl-width: 1280px;
$double-xl-width: 1536px;

// purple colors
$purple-6: #A582DE;
$purple-5: #8F61D8;
$purple-1: #926ECD;
$purple-2: #ECDDFF;
$purple-3: #F4F0FA;
$purple-4: #BEB1D1;

$bg-light-grey: #FAFAFA;

// other colors
$light-grey: #d3d3d3;
$grey: grey;
$black: black;
$link-blue: blue;

// FONT
$font-white: #FFFFFF;