@use '../../variables.scss' as general;

.splitSections {
  display: flex;
  gap: 1rem;

  flex-direction: column;

  @media screen and (min-width: general.$small-width) {
    gap: 2rem;
    flex-direction: row;
  }

  @media screen and (min-width: general.$large-width) {
    gap: 3rem;
  }

}

.panelA {
  flex: 1;
}

.panelB {
  flex: 1;
}