@use '../../../shared/variables.scss' as general;

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  width: 100%;
  font-size: 0.85rem;

  @media screen and (min-width: general.$small-width ) {
    width: 80%;
    font-size: 1rem;
  }

  @media screen and (min-width: general.$large-width ) {
    font-size: 1.25rem;
    width: 70%;
  }

}